{% extends "layout.html" %}


{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full-width">

    <h2 class="govuk-heading-m" style="color: #1d70b8;">
      Connected persons
    </h2>

    <form class="form" method="post">

      <!-- GOV / Public  -->

      {% if data['connectedPersons'] == "Gov/Public Authority" %}

      <h1 class="govuk-heading-l">Check your answers</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-3">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Authority Name:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedPerson'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gov-organisation">
              Change<span class="govuk-visually-hidden">
                the Organisation name</span>
            </a>
          </dd>
        </div>

        {% if data['addressTypeGov'] == "No" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['govPublicService-address-line-1'] }} </br>
            {{ data['govPublicService-address-line-2'] }} </br>
            {{ data['govPublicService-address-town'] }} </br>
            {{ data['govPublicService-address-postcode'] }} </br>
            {{ data['govPublicService-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gov-address-type">
              Change<span class="govuk-visually-hidden">
                the Organisation`s address</span>
            </a>
          </dd>
        </div>

        {% else %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['govPublicUk-address-line-1'] }} </br>
            {{ data['govPublicUk-address-line-2'] }} </br>
            {{ data['govPublicUk-address-town'] }} </br>
            {{ data['govPublicUk-address-postcode'] }} </br>
            {{ data['govPublicUk-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gov-address-type">
              Change<span class="govuk-visually-hidden">
                the Organisation`s address</span>
            </a>
          </dd>
        </div>

        {% endif %}


        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Legal form:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['govPublicLegalForm'] }} </br>
            {{ data['govPublicLaw'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gov-law-register">
              Change<span class="govuk-visually-hidden">
                the Legal form</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nature of Control:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['controlNatureGov'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="nature-of-control-gov">
              Change<span class="govuk-visually-hidden">
                the nature of control</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered date:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedOrganisationDay'] }} / {{ data['connectedOrganisationMonth'] }} /
            {{ data['connectedOrganisationYear'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="date-registered-gov">
              Change<span class="govuk-visually-hidden">
                the registered date</span>
            </a>
          </dd>
        </div>
      </dl>

      {% elif data['connectedPersons'] == "PSC Individual" %}

      <!-- PSC Individual  -->

      <h1 class="govuk-heading-l">Check your answers</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-3">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PSC details:
          </dt>
          <dd class="govuk-summary-list__value">
            Name: </br>
            Date of birth: </br>
            Nationality: </br>
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedPerson'] }} </br>
            {{ data['individualDay'] }} / {{ data['individualMonth'] }} / {{ data['individualYear'] }} </br>
            {{ data['selectNationality'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="psc-individual">
              Change<span class="govuk-visually-hidden">
                the PSC details</span>
            </a>
          </dd>
        </div>

        {% if data['addressType'] == "Yes" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedPersonsUk-address-line-1'] }} </br>
            {{ data['connectedPersonsUk-address-line-2'] }} </br>
            {{ data['connectedPersonsUk-address-town'] }} </br>
            {{ data['connectedPersonsUk-address-postcode'] }} </br>
            {{ data['connectedPersonsUk-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-type.html">
              Change<span class="govuk-visually-hidden">
                the Organisation`s address</span>
            </a>
          </dd>
        </div>

        {% else %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedPersons-address-line-1'] }} </br>
            {{ data['connectedPersons-address-line-2'] }} </br>
            {{ data['connectedPersons-address-town'] }} </br>
            {{ data['connectedPersons-address-postcode'] }} </br>
            {{ data['connectedPersons-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="address-type">
              Change<span class="govuk-visually-hidden">
                the person`s address</span>
            </a>
          </dd>
        </div>

        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nature of Control:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['controlNaturePsc'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="nature-of-control-psc">
              Change<span class="govuk-visually-hidden">
                the nature of control</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Registered date:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['dateRegisteredDay'] }} / {{ data['dateRegisteredMonth'] }} / {{ data['dateRegisteredYear'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="date-registered">
              Change<span class="govuk-visually-hidden">
                the registered date</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Register Name:
          </dt>
          <dd class="govuk-summary-list__value">

          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['nameRegister'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="psc-register">
              Change<span class="govuk-visually-hidden">
                the type of documentation</span>
            </a>
          </dd>
        </div>
      </dl>

      {% elif data['connectedPersons'] == "Director individual" %}


      <!-- Director or Shadow Director, Individual  -->

      <h1 class="govuk-heading-l">Check your answers</h1>
      <dl class="govuk-summary-list govuk-!-margin-bottom-3">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Director details:
          </dt>
          <dd class="govuk-summary-list__value">
            Name: </br>
            Date of birth: </br>
            Nationality: </br>
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['connectedPerson'] }} </br>
            {{ data['directorDay'] }} / {{ data['directorMonth'] }} / {{ data['directorYear'] }} </br>
            {{ data['selectNationality'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="director-individual">
              Change<span class="govuk-visually-hidden">
                the Director details</span>
            </a>
          </dd>
        </div>

        {% if data['addressTypeDir'] == "Yes" %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['directorAddressUk-address-line-1'] }} </br>
            {{ data['directorAddressUk-address-line-2'] }} </br>
            {{ data['directorAddressUk-address-town'] }} </br>
            {{ data['directorAddressUk-address-postcode'] }} </br>
            {{ data['directorAddressUk-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="dir-address-type">
              Change<span class="govuk-visually-hidden">
                the Director`s address</span>
            </a>
          </dd>
        </div>

        {% else %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Service address:
          </dt>
          <dd class="govuk-summary-list__value">
          </dd>
          <dd class="govuk-summary-list__value">
            {{ data['directorAddress-address-line-1'] }} </br>
            {{ data['directorAddress-address-line-2'] }} </br>
            {{ data['directorAddress-address-town'] }} </br>
            {{ data['directorAddress-address-postcode'] }} </br>
            {{ data['directorAddress-address-county'] }} </br>
            {{ data['selectData'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="director-address-type">
              Change<span class="govuk-visually-hidden">
                the person`s address</span>
            </a>
          </dd>
        </div>

        {% endif %}

        {% elif data['connectedPersons'] == "Director not individual" %}

        <!-- Director or Shadow Director, Not Individual  -->

        <h1 class="govuk-heading-l">Check your answers</h1>
        <dl class="govuk-summary-list govuk-!-margin-bottom-3">

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Director details:
            </dt>
            <dd class="govuk-summary-list__value">
              Organisation name:
            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['connectedPerson'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="director-individual-ni">
                Change<span class="govuk-visually-hidden">
                  the Director details</span>
              </a>
            </dd>
          </div>

          {% if data['addressTypeDirNi'] == "Yes" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Service address:
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['directorAddressUkNi-address-line-1'] }} </br>
              {{ data['directorAddressUkNi-address-line-2'] }} </br>
              {{ data['directorAddressUkNi-address-town'] }} </br>
              {{ data['directorAddressUkNi-address-postcode'] }} </br>
              {{ data['directorAddressUkNi-address-county'] }} </br>
              {{ data['selectData'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="director-address-type-ni">
                Change<span class="govuk-visually-hidden">
                  the Director`s address</span>
              </a>
            </dd>
          </div>

          {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Service address:
            </dt>
            <dd class="govuk-summary-list__value">
            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['directorAddressNi-address-line-1'] }} </br>
              {{ data['directorAddressNi-address-line-2'] }} </br>
              {{ data['directorAddressNi-address-town'] }} </br>
              {{ data['directorAddressNi-address-postcode'] }} </br>
              {{ data['directorAddressNi-address-county'] }} </br>
              {{ data['selectData'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="director-address-type-ni">
                Change<span class="govuk-visually-hidden">
                  the person`s address</span>
              </a>
            </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is the Organisation registered with Companies House?:
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['lawRegisterDirNi'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="nature-of-control-psc">
                Change<span class="govuk-visually-hidden">
                  the nature of control</span>
              </a>
            </dd>
          </div>

          {% if data['lawRegisterDirNi'] == "Yes" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Registered number:
            </dt>
            <dd class="govuk-summary-list__value">

            </dd>
            <dd class="govuk-summary-list__value">
              {{ data['companiesHouseNumber'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="date-registered">
                Change<span class="govuk-visually-hidden">
                  the registered date</span>
              </a>
            </dd>
          </div>

          {% endif %}
          {% endif %}
        </dl>
  </div>
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m govuk-!-margin-top-9">Now submit your connected person</h3>

    <p class="govuk-body">
      By submitting this data you are confirming that, to the best of your knowledge, the details you are providing are
      correct.
    </p>

    <div class="govuk-button-group govuk-!-margin-top-9">
      <button class="govuk-button" data-module="govuk-button">
        Confirm and submit
      </button>
    </div>




    </form>
  </div>
</div>

{% endblock %}