{% extends "layout.html" %}

{% block pageTitle %}
Supplier`s information - GOV.UK
{{ data['pageTitleAddOn' ]}}
{% endblock %}

{% block pageHead %}
<!--[if gt IE 8]><!-->
<link href="/public/stylesheets/accessible-autocomplete.css" media="all" rel="stylesheet" type="text/css" />
<!--<![endif]-->
{% endblock %}

{% block beforeContent %}

<div class="govuk-phase-banner">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      Prototype
    </strong>
    <span class="govuk-phase-banner__text">
      This is a prototype of a service in development.
  </p>
</div>

<a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form class="form" method="post">
      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" data-required data-error="Select yes if you are an SME organisation"
          aria-required="true">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              What is your organisation type?
            </h1>
          </legend>
          <div id="orgType-hint" class="govuk-hint">
            Select all that apply.
          </div>
          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType" name="orgType" type="checkbox"
                value="A small or medium-sized enterprise">
              <label class="govuk-label govuk-checkboxes__label" for="orgType">
                A small or medium-sized enterprise
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-2" name="orgType-2" type="checkbox"
                value="A non-governmental organisation that is value-driven and which principally reinvests  its surpluses to further social, environmental or cultural objectives">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-2">
                A non-governmental organisation that is value-driven and which principally reinvests  its surpluses to
                further social, environmental or cultural objectives
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-3" name="orgType-3" type="checkbox"
                value="A supported employment provider">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-3">
                A supported employment provider
              </label>
            </div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-4" name="orgType-4" type="checkbox"
                value="A public service mutual">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-4">
                A public service mutual
              </label>
            </div>
            <div class="govuk-checkboxes__divider">or</div>
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="orgType-5" name="orgType" type="checkbox" value="None"
                data-behaviour="exclusive">
              <label class="govuk-label govuk-checkboxes__label" for="orgType-5">
                None of the above
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <button class="govuk-button govuk-!-margin-top-4" type="submit">Save and exit</button>
  </div>
  </form>


</div>
</div>

{% endblock %}